/* Обнуление  стилей */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    line-height: 1.4;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

*:focus {
    outline: none;
}

/* Добавление стилей  */

.progress {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 568px;
    background-color: white;
}

.progress__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.progress__track {
    stroke: #eff3f6;
    stroke-width: 10px;
    fill: none;
}

.progress__bar {
    transition: stroke-dashoffset 0.5s ease-in-out;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke: #005bff;
    stroke-width: 10px;
    fill: none;
}

.progress__controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 135px;
    height: 135px;
}

.progress__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    font-weight: 400;
    gap: 10px;
}

.progress__input-field {
    width: 50px;
    height: 34px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 34px;
    text-align: center;
    font-size: 18px;
}

.progress__switch {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.progress__switch-label {
    margin-left: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
}

.switch__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 34px;
    background-color: #eff3f6;
    cursor: pointer;
    transition: 0.4s;
}

.switch__slider:before {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    content: "";
    transition: 0.4s;
}

.switch__input:checked + .switch__slider {
    background-color: #005bff;
}

.switch__input:checked + .switch__slider:before {
    transform: translateX(16px);
}

/* Убираем стрелки в инпуте */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield;
    appearance: none;
}

/* Горизонтально */
.progress--horizontal {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.progress--horizontal .progress__circle {
    margin-right: 40px;
    margin-bottom: 0;
}

.progress--horizontal .progress__controls {
    align-items: flex-start;
    justify-content: space-between;
    height: 135px;
}

/* Анимация  */

@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progress__circle--animated {
    animation: rotate-animation 3s linear infinite;
}

/* Скрытие элемента  */

.progress__circle--hidden {
    visibility: hidden;
    opacity: 0;
}
